@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

.body{

    padding: 10px;
    
}


header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}
.logo{
    text-decoration: none;
    color: #008793;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color:#008793;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
section {
    padding: 100px 100px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center; 
    background: url(img/background.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}


.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}

.main h6 {
    color: #fff;
    width: 45ch;
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
   
    background-color: #00bf72 ;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #A8EB12;
    transform: scale(1.1);
}

.social-icons a {
    color: #00bf72;
    font-size: 1.7em;
    padding-right: 30px;
}


.title {
    display: flex;
    justify-content:left;
    color: #00bf72;
    font-size: 2.2em;
    font-weight: 500;
    margin-bottom: 30px;
    border-bottom: #00bf32 solid;
}

/* -- About me Section -- */

.about-me{

    width: 100%;
    height: max-content;
}

.content {

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.inner {
    width:min-content;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #aae230;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px; 
    width: 100%;
}

.warp{
    /*background-color: #aae230;*/
    width: 40%; 
    padding: 25px;
    margin: 15px;
    /*border-right: solid #00bf72;*/
   
 
}
.warp p{
    color: #004d7a;
    font-size: 1.5em;
   
}

.b{
    width: 1%;
    border-left: solid #00bf72;
    margin: 50px;
}
.tec{
    /*background-color: #aae230;*/
    width: 40%; 
    padding: 25px;
    margin: 15px;
    justify-content: center;
   
 
}
.tec p{
    color: #004d7a;
    font-size: 1.2em;

}
.skills{
    margin-top: 10px;
    margin-left: 30px;
    display: grid;
}

li{
    color: #004d7a;
    font-size: 1.2em;
    
}

/* --Projects Section-- */

.projects{
    width: 100%;
    height: max-content;
}




.projects.content{

    margin-top: 30px;
}

.project-card{
    background-color: #fff ;
    border: 1px solid #fff;
    min-height: 14em;
    width:23em ;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;

}
.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-image{
    opacity: 0.9;
}

.project-image img{

    width: 100%;
    height: 100%;
}

.project-info{
    padding: 1em;
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details{
    text-decoration: none ;
    color:#50b48c;
}
.more-details:hover{
    color:#00bf72;
}




/*--Contact--*/
.contact{
    
    min-height: 100vh;
    width: 100%;
    background: #fff;
    
    align-items: center;
    justify-content: center;

    
}
.container{
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: #00bf72;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one{
    font-size: 14px;
    color: #00bf72;
  }
  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #00bf72;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="submit"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #00bf72;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="submit"]:hover{
    background: #00bf32;
  }
  
  
.footer {
    width: 100%;
    position: absolute;
    background-color: #f0f0f0;
    color: #00bf72; 
    padding: 2em;
    display:flexbox;
    justify-content:center;

}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex: 1;
}

.footer-title span {
    color: #00bf32;
}

.footer .social-icons{
    justify-content: center;
    display: flex;
    flex: 1;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}

  




