@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{

  --body-color:#051937;
  --first-color:#00bf72; 
  --first-color-second:  #00bf32;
  --second-color: #4e9eff;
  --second-color-second: #4e9ef1;  
  --titel-color: #fff ; 
  --titel-color-second: black; 
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color:#4e9eff;
}

#body {
  background-color: var(--body-color);
  color: black;

}

header {
  background-color: #f0f0f0;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

.navigation a {
  
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}
section {
  padding: 100px 100px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  
  
}
.main-container{
  width: 100%;
  height: fit-content;
}
.main-content{
  display: flex;
  align-items: center;

}

.main-social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem ;
  margin-right: 50px;
}
.main-social-icon{
  font-size: 1.25 rem;
  color: #f0f0f0;
}
.main-social-icon:hover{

  color: var(--second-color-second);
}
.main-data{
  align-items: center;
}

.main h2 {
  color:var(--second-color); 
  margin-top: 10px;
  font-size: 3em;
  font-weight: 300;
  
}

.main h2 span {
  display: inline-block;
  font-weight: 200;
}

.main h3 {
  color: var(--second-color);
  font-weight: 200;
  letter-spacing: 1px;
  text-align:left;
}

.contant-btn {
  display: flex;
  justify-content: left;
}

.contant-btn a {
  color: var(--titel-color); 
  background-color:var(--second-color);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 1px;
  border-radius: 10px;
  transition: 0.7s ease;
  padding: 10px;
  margin: 50px 0 0 0;
}

.contant-btn a:hover {
  background-color:var(--second-color-second);
  transform: scale(1.1);
}


.main-img{

  width: 500px;
  height: 100%;
  margin-left: 300px;
  align-items: center;
 

}

.main-img img{
  width: 20rem;
  border-radius: 10%;
  border: var(--second-color-second) solid;
  opacity: 0.5;
  transition: 0.7s ease;
}

.main-img img:hover{
  width: 18rem;
  opacity: 0.8;
  transform: scale(1.1);


}
.main-scroll{
  width: 50px;
  height: 50px;
  padding-top: 200px;
  position: relative;
}
.main-scroll-btn{

  display: block;
  position: absolute;
  bottom: 0;
}




.title {
  display: flex;
  justify-content: center;
  font-size: 2.2em;
  font-weight: 200;
  margin-bottom: 50px;
}

/* -- About me Section -- */

.about-me {
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
}

.inner {
  width: 50%;
}

.warp {
}
.warp p {
  /*color: #00bf72;*/
  font-size: 1em;
  display: block;
}
.skills {
  margin-top: 10px;
  margin-left: 30px;
  display: grid;
}

li {
  /*color: #00bf72;*/
  font-size: 1em;
}



/* --Projects Section-- */

.projects {
  width: 100%;
  height: max-content;
}

.projects .content {
  display: flex;
  justify-content:center;
}

.project-card {
  background-color: #fff;
  border: 1px solid #fff;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.7s ease;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.project-card:hover {
  transform: scale(1.1);
}

.project-card:hover .project-image {
  opacity: 0.9;
}

.project-image img {
  width: 100%;
  height: 100%;
}

.project-info {
  padding: 1em;
}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}
.more-details {
  text-decoration: none;
 /* color: #50b48c;*/
}
.more-details:hover {
 /* color: #00bf72;*/
}

/*--Contact--*/
.contact {
  min-height:auto; 
  width: 100%;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100%;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
}
.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 30px;
  /*color: #00bf72;*/
  margin-bottom: 10px;
}
.content .left-side .details .text-one {
  font-size: 14px;
  /*color: #00bf72;*/
}
.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  /*color: #00bf72;*/
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="submit"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  /*background: #00bf72;*/
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="submit"]:hover {
 /* background: #00bf32;*/
}

.footer {
  width: 100%;
  position: absolute;
  /*color: #00bf72;*/
  padding: 2em;
  display: flexbox;
  justify-content: center;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex: 1;
}

.footer-title span {
  /*color: #00bf32;*/
}

.footer .social-icons {
  justify-content: center;
  display: flex;
  flex: 1;
}
.social-icons a {
  /*color: #00bf72;*/
  font-size: 1.7em;
  padding-right: 30px;
  font-size: 1.3em;
  padding: 0 12px 0 0;
}


